$siteBg: #dcbb9a;
$titleColor: #893c00;
$titleBg: #fadcba;
$titleInRect: #000;
$imgBorderColor: #893c00;
$textColor: #000000;
$contentBg: #fff;
$linkColor: #3d70a1;
$tableBg: #fff;
$tableTh: #e0e0e0;
$formTextColor: #808080;
$formBorderColor: #e0e0e0;

$titlePostion: left;
$titleWidth: 50%;

$pointPX: 8px;