$siteBg: rgba(198, 238, 252, 0.53);
$titleColor: #fccd10;
$titleBg: #fff178;
$titleInRect: #000;
$imgBorderColor: #893c00;
$textColor: #fff;
$contentBg: #3b3b3b;
$linkColor: #f5bc2b;
$tableBg: #677d01;
$tableTh: #94a34e;
$formTextColor: #f5bc2b;
$formBorderColor: #e0e0e0;

$titlePostion: none;
$titleWidth: 100%;

$pointPX: 8px;